
@font-face {
    font-family: 'mine';
    src: url('fonts/Minecraft.ttf') format('truetype');
}
@font-face {
    font-family: 'retro';
    src: url('fonts/PublicPixel-E447g.ttf') format('truetype');
}




body {
    margin: 0;
    padding: 0px 10px;
    /* background: linear-gradient(#00A2FF, #6BEFFE); */
    background-image: url(assets/1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;

    font-family: mine, 'Arial';
}



h1 {
    font-family: retro, 'Arial';
    color: white;
    font-size: 80px;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}



h1:hover {
    transform: scale(1.1);

}

.creditos a {
    color: rgb(56, 56, 56);
    cursor: pointer;
    font-size: medium;
}


.creditos:hover {
    transform: scale(1.1);
}

.creditos:active {
    transform: scale(0.95);
}

.edo {
    text-align: center;
    line-height: 1.2;
}

.botoes {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

button {
    background: none;
    border: none;
    
}

.btn  {
    background-image: url(assets/botao.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: mine;
    width: 230px;
    
    color: black;
   
    padding: 20px;
    color: inherit;
    cursor: pointer;
    outline: none;
    margin: 0px;
}

.btn p {
    font-size: 25px;
}


.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.95);
}


a {
    text-decoration: none;
    color: black;
}

.btnAudio {
    font-family: retro, 'Arial';
    font-size: 15px;
    color: black;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;

}

.btnAudio:active {
    transform: scale(0.95);
}

.audioFundo {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconSound {
    transform: scale(1.2);
    margin-left: 10px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 50px;
    }

}

@media (max-width: 500px) {
    h1 {
        font-size: 40px;
    }
    
    .btn p {
        font-size: 18px;
    }

    .botoes {
        flex-direction: column;
    }
}