
@font-face {
    font-family: 'mine';
    src: url('../fonts/Minecraft.ttf') format('truetype');
}
@font-face {
    font-family: 'retro';
    src: url('fonts/PublicPixel-E447g.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    margin: 0;
    padding: 10px 10px;
    /* background: linear-gradient(#00A2FF, #6BEFFE); */
    background-image: url(../assets/2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100vh;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: mine, 'Arial';
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.tituloConteudo {
    background-color: #FFC800;
    border: 3px solid black;
    text-align: center;

    margin: 20px auto;
    max-width: 400px;
    font-size: large;

}

.tituloConteudo h1 {
    padding: 10px 20px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid #B38C02;
    border-bottom: 3px solid #B38C02;

    color: black;
    font-size: larger;
    letter-spacing: 1px;
}

.conteudo {
    margin: 20px;
    padding: 10px;
    color: white;
    background-color: black;
    border: 6px solid white;
    border-radius: 3px;
    max-width: 800px;
    max-height: 500px;

}

.conteudo p {
    padding: 20px;
    text-align: justify;
    font-size: medium;

}

.equation {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.btnPages {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
    margin: 0px;
}


.button:hover {
    transform: scale(1.1);

}

.button:active {
    transform: scale(0.95);
}